@charset "UTF-8";
:root {
  --primary-background-color: #ffffff;
  --another-background-color: #f5f4fa;
  --hero-background-color: #2f303a;
  --footer-background-color: #2f303a;
  --portfolio-overlay-bg-color: rgba(33, 150, 243, 0.9);
  --primary-title-color: #212121;
  --secondary-title-color: #ffffff;
  --primary-text-color: #757575;
  --secondary-text-color: #f5f4fa;
  --accent-color: #2196f3;
  --button-color: #2196f3;
  --button-text-color: #ffffff;
  --button-accent-color: #188ce8;
}

:root {
  --mobile: 480px;
  --tablet: 768px;
  --desktop: 1200px;
}

.visualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

h1,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

html {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.mobile-menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: var(--primary-background-color);
  padding: 48px 40px;
  overflow-y: scroll;
  transform: translateY(-200%);
  transition: transform 250ms ease-in-out;
}

.mobile-menu-container.is-open {
  transform: translateY(0);
}

@media (min-width: 768px) {
  .mobile-menu-container {
    display: none;
  }
}

.mobile-menu-nav {
  flex-grow: 1;
}

.mobile-menu-nav__item {
  margin-bottom: 32px;
}

.mobile-menu-nav__item:last-child {
  margin-bottom: 0;
}

.mobile-menu-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-menu-contacts {
  margin-top: auto;
}

.mobile-menu-contacts__item {
  margin-bottom: 32px;
}

.mobile-menu-contacts__item:last-child {
  margin-bottom: 64px;
}

.mobile-menu-contacts__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-menu-contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.mobile-menu-social {
  display: flex;
  margin-left: -10px;
}

.mobile-menu-social__item {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 10px;
  padding-right: 10px;
}

.mobile-menu-social__item:last-child {
  border-right: none;
  padding-right: 0;
}

.mobile-menu-social__item a {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.header {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #ececec;
}

.header-container {
  display: flex;
}

.page-nav {
  display: flex;
  width: 100%;
}

.page-nav__list {
  display: none;
}

@media screen and (min-width: 768px) {
  .page-nav__list {
    display: flex;
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .page-nav__list {
    margin-left: 93px;
  }
}

.page-nav__item {
  position: relative;
}

.page-nav__item .current::after {
  content: '';
  width: 100%;
  height: 4px;
  position: absolute;
  right: 0;
  bottom: -1px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.page-nav__item:not(:first-child) {
  margin-left: 50px;
}

.page-nav__link {
  display: block;
  color: var(--primary-title-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.page-nav__link:hover, .page-nav__link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.header-contacts {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts {
    display: block;
    margin-left: auto;
    margin-top: 21px;
    margin-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    display: flex;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts__item:not(:first-child) {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts__item:not(:first-child) {
    margin-left: 50px;
  }
}

.header-contacts__link {
  display: block;
  color: var(--text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__link:hover, .header-contacts__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .header-contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header-contacts__icon {
  fill: currentColor;
  margin-right: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__icon:hover {
  fill: var(--accent-color);
}

.footer {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
  }
}

.footer-contacts {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-contacts {
    margin-left: 61px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-contacts {
    margin-left: 0;
    margin-bottom: 0;
  }
}

.footer-contacts__item {
  margin-bottom: 8px;
  text-align: center;
}

.footer-contacts__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
  .footer-contacts__item {
    text-align: left;
    margin-bottom: 9px;
  }
}

.footer-contacts__address {
  color: var(--secondary-title-color);
}

.footer-contacts__link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts__address,
.footer-contacts__link {
  font-style: normal;
  display: block;
  padding: 0;
  margin: 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts__address:hover, .footer-contacts__address:focus {
  color: var(--accent-color);
}

.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: var(--accent-color);
}

.footer-social {
  width: 206px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-social {
    margin-top: 5px;
    margin-right: 61px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social {
    margin-top: 12px;
    margin-left: 85px;
    margin-right: 0;
  }
}

.footer-social__title {
  color: var(--secondary-title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .footer-social__title {
    text-align: center;
  }
}

.footer-social__list {
  display: flex;
  margin-left: -10px;
}

.footer-social__item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
}

.footer-social__link {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--accent-color);
}

.footer-social__icon {
  fill: var(--secondary-title-color);
}

.footer-subm {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .footer-subm {
    width: 570px;
    margin-top: 12px;
    margin-right: 0;
  }
}

.footer-subm__form {
  display: block;
}

@media screen and (min-width: 1200px) {
  .footer-subm__form {
    display: flex;
  }
}

.footer-subm__title {
  color: var(--secondary-title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .footer-subm__title {
    text-align: center;
  }
}

.footer-subm__label {
  display: block;
  max-width: 450px;
}

@media screen and (min-width: 768px) {
  .footer-subm__label {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-subm__label {
    width: 358px;
  }
}

.footer-subm__input {
  width: 100%;
  height: 50px;
  background-color: var(--footer-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px 16px;
  margin-bottom: 20px;
  resize: horizontal;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  outline: none;
}

.footer-subm__input::placeholder {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .footer-subm__input {
    margin-bottom: 0;
  }
}

.logo {
  display: block;
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.header-logo {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .header-logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .header-logo {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.logo--black {
  color: #000000;
}

.logo--white {
  color: #ffffff;
}

.logo--margin {
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .logo--margin {
    text-align: left;
  }
}

/* Бэкдроп */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transform: scale(1);
  transition-property: transform opacity visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  transition-property: transform opacity visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__close-button {
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--primary-background-color);
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.modal__close-icon {
  fill: currentColor;
  outline: none;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-icon:focus, .modal__close-icon:hover {
  fill: var(--accent-color);
}

.backdrop-contact__form {
  max-width: 370px;
}

@media screen and (min-width: 1200px) {
  .backdrop-contact__form {
    max-width: 448px;
  }
}

.backdrop-contact__container {
  margin-bottom: 10px;
}

.backdrop-contact__title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--primary-title-color);
  padding: 0;
  margin-bottom: 12px;
}

@media screen and (max-width: 1199px) {
  .backdrop-contact__title {
    line-height: 1.5;
  }
}

.backdrop-contact__label,
.backdrop-contact__comment-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.backdrop-contact__input-field {
  width: 100%;
  min-height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: var(--primary-title-color);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 4px;
}

.backdrop-contact__input-field:focus {
  border-color: var(--accent-color);
}

.backdrop-contact__input-field:focus + .backdrop-contact__input-field--icon {
  fill: var(--accent-color);
}

.backdrop-contact__input {
  display: block;
  position: relative;
}

.backdrop-contact__input-field--icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: #212121;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-contact__container--comment {
  margin-bottom: 20px;
}

.backdrop-contact__comment-area {
  display: block;
  width: 100%;
  min-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: none;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: #212121;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 4px;
}

.backdrop-contact__comment-area::placeholder {
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.backdrop-contact__comment-area:focus {
  border-color: var(--accent-color);
}

.backdrop-policy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.backdrop-policy__label {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1199px) {
  .backdrop-policy__label {
    font-size: 12px;
    line-height: 1.17;
  }
}

.backdrop-policy__label a {
  color: var(--accent-color);
  /* text-decoration-skip-ink: none; */
  text-decoration: underline;
}

.backdrop-policy__check {
  display: block;
}

.backdrop-policy__check--icon {
  display: flex;
  width: 16px;
  height: 15px;
  justify-content: center;
  align-items: center;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-right: 7px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-policy__check:checked + .backdrop-policy__check--icon {
  background-color: var(--accent-color);
  border: none;
}

.hero {
  background-color: var(--hero-background-color);
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_background_img_mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_background_img_mob-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_background_img_tab.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_background_img_tab-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_background_img.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_background_img-2x.jpg);
  }
}

.hero__title {
  color: var(--secondary-title-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

@media screen and (min-width: 1200px) {
  .specificities {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .specificities__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (max-width: 1199px) {
  .specificities-card:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .specificities-card {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .specificities-card {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
  }
}

.specificities-card__thumb {
  display: flex;
  width: 100%;
  height: 120px;
  background-color: var(--another-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.specificities-card__title {
  color: var(--primary-title-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .specificities-card__title {
    text-align: center;
  }
}

.section-works {
  display: none;
}

@media screen and (min-width: 1200px) {
  .section-works {
    display: block;
  }
}

.section-works__title {
  color: var(--primary-title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.works-list {
  display: flex;
  margin-left: -30px;
}

.works-card {
  position: relative;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}

.works-card__owerlay {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.works-card__owerlay-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-title-color);
  padding: 27px 82px;
}

.section-team {
  background-color: var(--another-background-color);
}

.section-team__title {
  color: var(--primary-title-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section-team__title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .team-card__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.team-card {
  margin-top: 30px;
  padding-bottom: 24px;
  background-color: var(--primary-background-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .team-card {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-card {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    padding-bottom: 30px;
  }
}

.team-card__content {
  padding-top: 30px;
  padding-bottom: 16px;
}

.team-card__title {
  color: var(--primary-title-color);
  font-weight: 500;
  margin-bottom: 10px;
}

.team-card__title,
.team-card__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-card-social {
  display: flex;
  width: 206px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
}

.team-card-social__list {
  display: flex;
  margin-left: -10px;
}

.team-card-social__item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
}

.team-card-social__link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-card-social__link:hover, .team-card-social__link:focus {
  background-color: var(--accent-color);
}

.team-card-social__link:hover .team-card-social__icon,
.team-card-social__link:focus .team-card-social__icon {
  fill: var(--secondary-title-color);
}

.team-card-social__icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-clients__title {
  color: var(--primary-title-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section-clients__title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

@media screen and (max-width: 1199px) {
  .clients__list {
    margin-top: -30px;
  }
}

.clients__item {
  height: 92px;
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc(100% / 2 - 30px);
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc(100% / 6 - 30px);
    margin-top: 0;
  }
}

.clients__link {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

.clients__icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .portfolio-card {
    margin-top: -30px;
    margin-left: -30px;
  }
}

.portfolio-card__item {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .portfolio-card__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-card__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-card__item {
    flex-basis: calc(100% / 3 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

.portfolio-card__content {
  flex-grow: 1;
  padding: 20px 24px;
  border-right-color: #eeeeee;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: #eeeeee;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #eeeeee;
  border-left-style: solid;
  border-left-width: 1px;
}

.portfolio-card__title {
  color: var(--primary-title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-card__text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.portfolio-card__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card__link:hover, .portfolio-card__link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio-card__link:hover .portfolio-card__owerlay,
.portfolio-card__link:focus .portfolio-card__owerlay {
  transform: translatey(0);
}

.portfolio-card__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-card__owerlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translatey(200%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--portfolio-overlay-bg-color);
  padding: 77px 24px;
}

@media screen and (min-width: 768px) {
  .portfolio-card__owerlay {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-card__owerlay {
    padding: 63px 23px;
  }
}

.portfolio-card__owerlay-text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--secondary-title-color);
}

.hero__button {
  display: inline-block;
  background-color: var(--button-color);
  color: var(--button-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:focus, .hero__button:hover {
  background-color: #188ce8;
}

.portfolio-filter {
  display: flex;
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .portfolio-filter {
    flex-wrap: wrap;
    margin-top: -15px;
    margin-left: -8px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-filter {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-filter {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio-filter__item {
    margin-top: 15px;
    margin-left: 8px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-filter__item:not(:first-child) {
    margin-left: 8px;
  }
}

.portfolio-filter__button {
  display: inline-block;
  background-color: var(--another-background-color);
  color: var(--primary-title-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  transition-property: color background-color box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-filter__button:hover, .portfolio-filter__button:focus {
  color: var(--button-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.footer-subm__button {
  display: flex;
  background-color: var(--button-color);
  color: var(--button-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 29px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subm__button:focus, .footer-subm__button:hover {
  background-color: var(--button-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 1200px) {
  .footer-subm__button {
    margin-left: 12px;
    margin-right: 0;
  }
}

.footer-subm__button--icon {
  fill: var(--button-text-color);
  margin-left: 10px;
}

.backdrop-contact__send {
  display: flex;
  justify-content: center;
  align-items: center;
}

.backdrop-contact__send-button {
  display: block;
  background-color: var(--button-color);
  color: var(--button-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  align-items: center;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  padding: 10px 55px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-contact__send-button:focus, .backdrop-contact__send-button:hover {
  background-color: var(--button-accent-color);
}

.mobile-menu__button {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__button.js-close-menu {
  position: absolute;
  top: 10px;
  right: 15px;
  margin: 0;
}

.mobile-menu__button:focus .mobile-menu__button--icon,
.mobile-menu__button:hover .mobile-menu__button--icon {
  fill: var(--button-color);
}

@media screen and (min-width: 768px) {
  .mobile-menu__button {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */