// Хедер

.header {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #ececec;
}

.header-container {
  display: flex;
}

// Навигация в хедере

.page-nav {
  display: flex;
  width: 100%;
}

.page-nav__list {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.page-nav__item {
  position: relative;

  .current::after {
    content: '';
    width: 100%;
    height: 4px;

    position: absolute;
    right: 0;
    bottom: -1px;

    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

.page-nav__item:not(:first-child) {
  margin-left: 50px;
}

.page-nav__link {
  display: block;
  color: var(--primary-title-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.current {
  color: var(--accent-color);
}

// Контакты в хедере

.header-contacts {
  display: none;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: block;
    margin-left: auto;
    margin-top: 21px;
    margin-bottom: 21px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
  }
}

.header-contacts__item:not(:first-child) {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 10px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 50px;
  }
}

.header-contacts__link {
  display: block;
  color: var(--text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: flex;
  align-items: center;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

// Иконки контактов в хедере

.header-contacts__icon {
  fill: currentColor;

  margin-right: 10px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    fill: var(--accent-color);
  }
}
