:root {
  --primary-background-color: #ffffff;
  --another-background-color: #f5f4fa;
  --hero-background-color: #2f303a;
  --footer-background-color: #2f303a;
  --portfolio-overlay-bg-color: rgba(33, 150, 243, 0.9);

  --primary-title-color: #212121;
  --secondary-title-color: #ffffff;
  --primary-text-color: #757575;
  --secondary-text-color: #f5f4fa;
  --accent-color: #2196f3;

  --button-color: #2196f3;
  --button-text-color: #ffffff;
  --button-accent-color: #188ce8;
}
